*
!src/**/*
src/**/__tests__/**
src/samples/**
!dist/**/*
dist/**/__tests__/**
!package.json
!README.md
!tsconfig.base.json
!tsconfig.json
!tsconfig.build.json
README.md
test-project
definition-manifest.json
.vscode
.npmignore
